#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title {
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
}

#gameBoard {
    border: 3px solid;
}

#scoreText {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    width: 20%;
    font-size: 100px;
    border-radius: 5%;
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
}

#resetBtn {
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}